/* Custom colors */
:root {
  --bg-color: #ffe4ea;
  --white-text: #fff;
  --title-color: #ee473f;
  --black-title: #001912;
  --green-color: #1cab55;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Header Section Design */
body {
  background-color: var(--bg-color);
  padding: 40px 50px 100px 50px;
}

.shop-title-container {
  padding: 40px 30px;
  text-align: center;
}

.site-title {
  color: var(--green-color);
  font-size: 2.2rem;
}
.top-title-description {
  color: var(--black-title);
  font-weight: 500;
  font-size: 1.5rem;
}
.title-description {
  color: var(--black-title);
  font-size: 1.2rem;
}

/* Customer Details */
.customer-details-container {
  padding: 30px;
  background-color: var(--green-color);
  border-radius: 10px;
}
.customer-details-title {
  text-align: center;
  color: var(--white-text);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
}
.customer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.customer-container > .items-content {
  justify-content: start;
}

/* Shared Styls */
input {
  padding: 7px 15px;
  border-radius: 7px;
  border: 2px solid #fff;
  /* border: 2px solid var(--black-title); */
  font-size: 1.1rem;
  margin-left: 20px;
}
input:focus {
  border: 2px solid #ee473f;
  outline: none;
}
/* label{
    font-size: 1.2rem;
    color: var(--white-text);
} */

/* Main Body Item Styles */
.food-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.items-container {
  margin: 30px;
}
.items-container > div {
  margin-top: 15px;
}

.items-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items-content > label {
  font-size: 1.1rem;
}
.item-title {
  font-size: 1.3rem;
  color: var(--title-color);
  font-weight: 600;
}

/* Bill menu section styles */
.bill-menu-container {
  margin-top: 40px;
}
.bill-menu-title {
  text-align: center;
  color: var(--black-title);
  text-transform: uppercase;
  font-size: 2.1rem;
}
.bill-menu-section {
  display: flex;
  align-items: center;
}

.discount-container {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.discount-content > div {
  margin-top: 15px;
}
.button-container {
  width: 40%;
  height: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.buttons > button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--green-color);
  color: var(--white-text);
  border: none;
  border-radius: 7px;
  font-size: 1.3rem;
}
.buttons > button:hover {
  background-color: var(--black-title);
  cursor: pointer;
}
/* Title Devider Style */
.divider {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 3px;
  background-color: var(--black-title);
  margin: 7px;
}

footer {
  margin-top: 70px;
  padding: 50px;
  background-color: var(--black-title);
  border-radius: 10px;
}
footer > p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

/* Mobile and Tablet Responsive */
@media screen and (max-width: 576px) {
  .customer-container {
    flex-direction: column;
  }
  .food-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .customer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .customer-container > .items-content {
    justify-content: space-between;
  }
  /* Bill menu section styles */

  .bill-menu-section {
    flex-direction: column;
  }

  .discount-container {
    flex-direction: column;
    width: 100%;
  }

  .button-container {
    width: 100%;
  }

  .buttons {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .customer-container {
    flex-direction: column;
  }
  .food-body {
    grid-template-columns: repeat(2, 1fr);
  }
  .customer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .customer-container > .items-content {
    justify-content: space-between;
  }
  /* Bill menu section styles */

  .bill-menu-section {
    flex-direction: column;
  }

  .discount-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .button-container {
    width: 100%;
  }

  .buttons {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
  }
}
